/* @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin:0;
}
.boody{

    width:100%;
	background: url(background1.png) no-repeat;
	background-size: cover;
	height:624px;
}
.box{
	width:27%;
	height:40%;
	padding:10% 33% 10% 33%;
}
.btn {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  
}

i{
	width: 6%;
	float: left;
	text-align:center;
	color: white;
}

.signin{
	width:40%;
	padding-bottom: 4px;
	border-bottom: 4px solid white;
}
.signup{
	width:  60%;
}
.signin a{
	border:none;
	color:white;
	text-decoration: none;
	display:inline-block ;
	font-size: 32px;
	cursor: pointer;
	padding-left:50% ;
}
.signup a{
	border:none;
	color:white;
	padding-left: 30%;
	text-decoration: none;
	display:inline-block ;
	font-size: 32px;
	cursor: pointer;
	text-align:end;
}

.bind{
	margin-bottom: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid white;
	
}

.bind input{
	outline: none;
	border:none;
	margin-left: 2px;
	background:none;
	width: 91%;
	font-size: 18px;
	color: white;
}
.submit{
	margin-top: 10px;
	font-size: 20px;
	border:1px solid white;
	background:none;
	color: white;
	outline-color: white;
	width:100%;
}
.link button a{
	text-decoration:none;
	background:none;
	border:none;
	background-color: white;
	color: black;
}
.link button{
	width: 70%;
	height: 50%;
	margin-left: 15%;
	position: auto;
	background:none;
	outline-color: white;
	border:1px solid white;
	margin-top: 12px;
	background-color:white;
} */


@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin:0;
}
/* .boody{
	background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:624px;
} */
.message{
	width:27%;
	/* padding:10% 33% 10% 33%; */
	padding:10.2% 33% 0% 41%;
}
.boody{

    width:100%;
	/* background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");  */
	background: url("../image/wooden1.jpg"); 
	/* background-color: black; */
	/* background-size: 1400px 650px; */
	/* background-size: cover; */
	/* background-size: auto; */
	/* background-attachment: fixed; */
	/* background-position: center; */
	/* background-size: contain; */
	background-repeat: no-repeat;
	background-size: 105% 104%;
	height:605px;
	/* transform: scale(1.5); */
} 
.box{
	width:27%;
	height:40%;
	padding:13% 33% 10% 41%;
}
.btn {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  
}

i{
	width: 6%;
	float: left;
	text-align:center;
	color: rgb(12, 12, 12);
}

.signin{
	width:40%;
	padding-bottom: 4px;
	border-bottom: 4px solid rgb(17, 17, 17);
}
.signup{
	width:  60%;
}
.signin a{
	border:none;
	color:rgb(26, 24, 24);
	text-decoration: none;
	display:inline-block ;
	font-size: 32px;
	cursor: pointer;
	/*padding-left:50% ;*/
}
.signup a{
	border:none;
	color:rgb(10, 10, 10);
	padding-left: 30%;
	text-decoration: none;
	display:inline-block ;
	font-size: 32px;
	cursor: pointer;
	text-align:end;
}

.bind{
	margin-bottom: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid rgb(20, 20, 20);
	
}

.bind input{
	outline: none;
	border:none;
	margin-left: 2px;
	background:none;
	width: 80%;
	font-size: 18px;
	color: rgb(22, 21, 21);
}
.submit{
	margin-top: 10px;
	font-size: 20px;
	border:1px solid rgb(39, 38, 38);
	background:none;
	color: rgb(31, 28, 28);
	outline-color: rgb(15, 14, 14);
	width:100%;
}
.link button a{
	text-decoration:none;
	background:none;
	border:none;
	/* background-color: white; */
	color: rgb(12, 10, 10);
}
.link button{
	width: 70%;
	height: 50%;
	margin-left: 15%;
	position: auto;
	background:none;
	outline-color: rgb(34, 32, 32);
	border:1px solid rgb(10, 10, 10);
	margin-top: 12px;
	/* background-color:white; */
}

.forgot{
	margin-top:5px;
}