body{
    margin: 0px;
    z-index: 0;
    padding: 30px 0 0 0;
}
.row-header {
    margin: 0px auto;
    padding: 0px 0px; 
}
  
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    
}
  
  .footer {
    background-color: lightgray;
    margin: 0px auto;
    padding: 20px 0px; 
}
  
.jumbotron {
    margin: 0px auto;
    padding: 100px 0 ;
    color: white; 
    background-image: url("../image/admin_user1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; 
}
  
 /* .navbar-dark {
    background-color: skyblue; 
}*/
  
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; 
}

button a{
  color: white;
  text-decoration: none;
}

button a:hover{
  color: white;
  text-decoration: none;
}
  
  

  